/* 
    1.- Posicionamiento
    2.- Box-model
    3.- Tipografía
    4.- Efectos visuales
    5.- Otros
*/
:root {
    /* guardamos los colores en variables para mantener la consistencia en nuestro código, debido a que vamos a utilizar esos valores muchas veces */
    /* Colors */
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --black: #282623;
    --grey: #BABABA;
    --off-white: #FAF8F7;
    --just-white: #FFFFFF;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    font-family: 'DM sans', sans-serif;
}

/*     font-family: 'DM Sans', sans-serif;

    font-family: 'Inter', sans-serif; */

header {
    position: relative;
    display: flex;
    flex-direction: column;
    /* gap: 5rem; */
    justify-content: space-around;
    align-items: center;
    width: 100%;
    min-width: 320px;
    height: 33rem;
    text-align: center;
    background:  linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}
header img {
    width: 16rem;
    height: 2.4rem;
    margin-top: 6rem;
    align-self: center;
}

.header--title-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 22rem;
    /* el profe agrego margenes, eso lo cambie por el gap que le di mas arriba al contenedor padre
    margin-top: 40px */
    /* este text-align es algo innecesario porque ya esta en el contenedor padre con text-align */
    text-align: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.header--title-container h1 {
    font-size: 2.4rem;
    font-weight: bold;
    /* este line-height es el salto de linea */
    line-height: 2.6rem;
    color: var(--just-white);
}

.header--title-container p {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--soft-orange);
}

.header--title-container .header--button {
    position: absolute;
    /* comente el display: block para tener este contendor como display flex y evitar darle margenes al "i" que tiene al lado del texto para el icono */
    /* display: block; */
    left: calc(50% - 12rem);
    /* decidi usar rem en vez de pixeles para que se mantenga la separación a medida que cambiamos de dispositivo */
    top: 28rem;
    margin-top: 3.5rem;
    padding: 1.6rem;
    width: 22.8rem;
    height: 4.8rem;
    background-color: var(--off-white);
    /* el box shadow es para generar sombra en nuestras etiquetas, el primer numero es la sombra de arriba, el segundo la de los lados y la tercera la de abajo, el rgba es para el colo, el degradado es el último numero entre parentesis que se añade con "0.algo" */
    box-shadow: 0rem 0.4rem 0.8rem rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 0.4rem;
    font-size: 1.4rem;
    text-decoration: none;
    font-weight: bold;
    color: var(--black);
    display: flex;
    justify-content: space-around;
    /* con align-items: baseline podemos situar a todos los elementos hijos a la misma altura, asi evitando darle margin-top al icono */
    align-items: baseline;
}

.header--button span {
    /* por defecto los span vienen con display inline, sin embargo para alterar su tamaño debemos darle el display inline-block o block */
    display: inline-block;
    width: 1.2rem;
    height: 0.8rem;
    background-image: url('./assets/icons/down-arrow.svg');
}

main {
    width: 100%;
    /* el mismo contenido ira definiendo la altura de nuestro main */
    height: auto;
    background-color: var(--off-white);
}

.main-exchange-container {
    width: 100%;
    height: auto;
    /* decidi utilizar nuevamente flexbox para hacer mas facil el espaciado de los elementos dentro del */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    gap: 3rem;
    padding-top: 8.8rem;
    padding-bottom: 2.8rem;
}

.main-exchange-container .backgroundImg {
    height: 20rem;
    width: 20rem;
    /* margin-bottom: 3rem */
    background-image: url('./assets/img/Bitcoin.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.main-exchange-container--title {
    width: 90%;
    min-width: 28.8rem;
    max-width: 90rem;
    /* el agregar "align-items: center" en el contenedor padre nos situa este elemento en el centro sin necesidad de utilizar un "margin: 0 auto" */
    /* agrego display flex para evitar calcular margenes entre el titulo y el parrafo. ademas de gap dentro de este contenedor para separar mas los elemntos */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 3rem;
}

.main-exchange-container--title h2 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.4rem;
    color: var(--black);
}

.main-exchange-container--title p {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: #757575;
}