/* 
    1.- Posicionamiento
    2.- Box-model
    3.- Tipografía
    4.- Efectos visuales
    5.- Otros
*/
:root {
    /* guardamos los colores en variables para mantener la consistencia en nuestro código, debido a que vamos a utilizar esos valores muchas veces */
    /* Colors */
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #282623;
    --black: #201E1C;
    --grey: #757575;
    --soft-grey:#B5B0AC;
    --dark-grey: #757575;
    --off-white: #FAF8F7;
    --just-white: #FFFFFF;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    font-family: 'DM sans', sans-serif;
    scroll-behavior: smooth;
}

/*     font-family: 'DM Sans', sans-serif;

    font-family: 'Inter', sans-serif; */

header {
    position: relative;
    display: flex;
    flex-direction: column;
    /* gap: 5rem; */
    justify-content: space-around;
    align-items: center;
    width: 100%;
    min-width: 320px;
    height: 33rem;
    text-align: center;
    background:  linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}
header img {
    width: 16rem;
    height: 2.4rem;
    margin-top: 6rem;
    align-self: center;
}

.header--title-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 22rem;
    /* el profe agrego margenes, eso lo cambie por el gap que le di mas arriba al contenedor padre
    margin-top: 40px */
    /* este text-align es algo innecesario porque ya esta en el contenedor padre con text-align */
    text-align: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.header--title-container h1 {
    font-size: 2.4rem;
    font-weight: bold;
    /* este line-height es el salto de linea */
    line-height: 2.6rem;
    color: var(--just-white);
}

.header--title-container p {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--soft-orange);
}

.header--title-container .header--button {
    position: absolute;
    /* comente el display: block para tener este contendor como display flex y evitar darle margenes al "i" que tiene al lado del texto para el icono */
    /* display: block; */
    left: calc(50% - 12rem);
    /* decidi usar rem en vez de pixeles para que se mantenga la separación a medida que cambiamos de dispositivo */
    top: 28rem;
    margin-top: 3.5rem;
    padding: 1.6rem;
    width: 22.8rem;
    height: 4.8rem;
    background-color: var(--off-white);
    /* el box shadow es para generar sombra en nuestras etiquetas, el primer numero es la sombra de arriba, el segundo la de los lados y la tercera la de abajo, el rgba es para el colo, el degradado es el último numero entre parentesis que se añade con "0.algo" */
    box-shadow: 0rem 0.4rem 0.8rem rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 0.4rem;
    font-size: 1.4rem;
    text-decoration: none;
    font-weight: bold;
    color: var(--black);
    display: flex;
    justify-content: space-around;
    /* con align-items: baseline podemos situar a todos los elementos hijos a la misma altura, asi evitando darle margin-top al icono */
    align-items: baseline;
}

.header--button span {
    /* por defecto los span vienen con display inline, sin embargo para alterar su tamaño debemos darle el display inline-block o block */
    display: inline-block;
    width: 1.2rem;
    height: 0.8rem;
    background-image: url('./assets/icons/down-arrow.svg');
}

main {
    width: 100%;
    /* el mismo contenido ira definiendo la altura de nuestro main */
    height: auto;
    background-color: var(--off-white);
}

.main-exchange-container {
    width: 100%;
    height: auto;
    /* decidi utilizar nuevamente flexbox para hacer mas facil el espaciado de los elementos dentro del */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    gap: 4rem;
    padding-top: 8.8rem;
    padding-bottom: 2.8rem;
}

.main-exchange-container .backgroundImg {
    height: 20rem;
    width: 20rem;
    /* margin-bottom: 3rem */
    background-image: url('./assets/img/Bitcoin.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.main-exchange-container--title {
    width: 90%;
    min-width: 28.8rem;
    max-width: 90rem;
    /* el agregar "align-items: center" en el contenedor padre nos situa este elemento en el centro sin necesidad de utilizar un "margin: 0 auto" */
    /* agrego display flex para evitar calcular margenes entre el titulo y el parrafo. ademas de gap dentro de este contenedor para separar mas los elemntos */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 3rem;
}

.main-exchange-container--title h2 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.4rem;
    color: var(--black);
}

.main-exchange-container--title p {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: #757575;
}

.main-tables-container {
    width: 64%;
}

.main-currency-table, .main-comissions-table {
    width: 100%;
    min-width: 20rem;
    max-width: 50rem;
    height: 24rem;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2.4rem;
    margin-bottom: 8rem;
}
.main-currency-table .currency-table--title, .main-comissions-table .comissions-table--title {
    font-weight: bold;
    font-size: medium;
    text-align: left;
    color: var(--bitcoin-orange);    
    line-height: 2.4rem;
    padding-left: 2rem;

}
.main-comissions-table .comissions-table--title {
    color: var(--secondary-blue);    
}

.currency-table--container, .comissions-table--container {
    background-color: var(--just-white);
    border-radius: 1rem;
}

.currency-table--container table, .comissions-table--container table {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.currency-table--container tr, .comissions-table--container tr {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.currency-table--container td, .comissions-table--container td {
    width: 50%;
    height: 25%;
    font-size: 1.6rem;
    font-weight: 300; 
    padding: 1rem;
    color: var(--grey);
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border: 0.001rem solid var(--off-white);
}

.comissions-table--container table tr .table__right {
    display: flex;
    justify-content: flex-end;
}
.currency-table--container td .up{
    background-image: url('./assets/icons/trending-up.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 1.4rem;
    width: 1.4rem;
}
.currency-table--container td .down {
    background-image: url('./assets/icons/trending-down.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 1.4rem;
    width: 1.4rem;
}

.currency-table--container td:first-of-type, .comissions-table--container td:first-of-type {
    font-weight: 500;
    text-align: left;
    color: var(--soft-grey);
    padding-right: 1rem;
}

.main-currency-table .currency-table--date {
    background-color: var(--soft-orange);
}

.main-comissions-table .comissions-table--date {
    background-color: var(--soft-blue);
}

.main-currency-table .currency-table--date, .main-comissions-table .comissions-table--date {
    width: fit-content;
    padding: 0.8rem;
    border-radius: 0.72rem;
    align-self: center;
}

.main-product-detail {
    width: 100%;
    height: auto;
    position: relative;
    padding: 3.6rem 1.8rem;
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 3rem;
    align-items: center;
}

.main-product-detail .main-product-detail--batata-logo {
    position: absolute;
    background-image: url('./assets/icons/batata.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 2.4rem;
    width: 4rem;
    top: -2%;
    left: calc(50% - 2rem);
}

.main-product-detail .product-detail--title {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 3rem;
    gap: 2rem;
}

.main-product-detail .product-detail--title h2 {
    font-size: 2.4rem;
    font-weight: bold;
    text-align: center;
    color: var(--just-white);
}

.main-product-detail .product-detail--title p {
    color: var(--grey);
    font-size: medium;
}

.main-product-detail .product-card--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;
}

.product-card--container .product-detail--card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    padding: 1.6rem;
    background-color: var(--warm-black);
    border-radius: 0.5rem;
    min-width: 30rem;
    max-width: 40rem;
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.16);
}

.product-card--container .product-detail--card .clock {
    background-image: url('./assets/icons/clock.svg');
}

.product-card--container .product-detail--card .eye {
    background-image: url('./assets/icons/eye.svg');
}

.product-card--container .product-detail--card .dollar-sign {
    background-image: url('./assets/icons/dollar-sign.svg');
}

.product-card--container .product-detail--card .check-circle {
    background-image: url('./assets/icons/check-circle.svg');
}


.product-card--container .product-detail--card .icon {
    background-size: cover;
    background-repeat: no-repeat;
    height: 2.4rem;
    width: 2.4rem;
}

.product-card--container .product-detail--card .product--card-title {
    font-size: large;
    color: var(--just-white);
}

.product-card--container .product-detail--card .product--card-body {
    font-size: medium;
    color: var(--grey);
}

.main-image-container {
    width: 100%;
    min-width: 32rem;
    height: 50vh;
    background-image: url('./assets/img/bitcoinbaby2x.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}

.main-image-container h2 {
    font-size: 2.8rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
    padding-top: 5rem;
}

.main-plans-container {
    width: 100%;
    min-width: 32rem;
    padding: 5rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    background-color: var(--off-white);
}

.main-plans-container .plans--title {
    width: 100%;
    min-width: 28rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.main-plans-container .plans--title h2 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    text-align: center;
}

.main-plans-container .plans--title p {
    font-size: 1.4rem;
    text-align: center;
    color: var(--dark-grey);
}

.plans-container--slider {
    width: 100%;
    height: 50vh;
    display: flex;
    gap: 5rem;
    /* La propiedad de CSS overflow-x establece lo que se muestra cuando el contenido desborda los bordes izquierdo y derecho de un elemento a nivel de bloque. Puede que no sea nada, una barra de desplazamiento o el contenido adicional. */
    overflow-x: scroll;
    /* la propiedad de css overscroll-behavior establece lo que hace un navegador cuando alcanza el límite de un área de desplazamiento. Es una abreviatura de overscroll-behavior-x y overscroll-behavior-y. */
    overscroll-behavior-x: contain;
    /* La propiedad CSS scroll-snap-type establece qué tan estrictamente se aplican los puntos de snap en el contenedor de desplazamiento en caso de que haya uno */
    scroll-snap-type: x proximity;
}


.plans-container--card {
    position: relative;
    scroll-snap-align: center;
    width: 100%;
    min-width: 23rem;
    max-width: 30rem;
    height: 36vh;
    margin-bottom: 4rem;
    margin-top: 2rem;
    padding: 3rem 2rem;
    background-color: var(--just-white);
    border-radius: 1.6rem;
    box-shadow: 0 0.4rem 0.8rem rgba(89, 73, 30, 0.16);
}

.plans-container--card .recommended--card {
    position: absolute;
    /* /* height: 3rem;  */
    width: 13rem;
    /* decidi eliminar el height debido a que complica introducir el padding, el cual solo queda mejor */
    padding: 1rem;
    top: -2rem;
    left: calc(50% - 6.5rem);
    font-size: 1.6rem;
    font-weight: bold;
    border-radius: 1.2rem;
    color: var(--just-white);
    background-color: var(--bitcoin-orange);
}

.plan-info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    gap: 1rem;
}

.plan-info-container .plan-card--title {
    font-size: 1.8rem;
    font-weight: 500;
}

.plan-info-container .plan-card--price {
    display: flex;
    justify-content: center;
    gap: 0.4rem;
    align-items: flex-start;
}

.plan-card--price .price--icon {
    font-weight: 500;
    font-size: 1.6rem;
    padding-top: 1.8rem;
}

.plan-card--price p {
    font-weight: bold;
    font-size: 7rem;
    font-family: 'Inter', sans-serif;
}

.plan-info-container .plan-card--saving {
    font-family: 'Inter', sans-serif;;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--dark-grey);
    text-align: center;
    line-height: 1.8rem;
}

.plan-info-container .plan-card--ca {
    border: 0.2rem solid var(--bitcoin-orange);
    border-radius: 0.4rem;
    padding: 1.4rem 1.6rem;
    background-color: var(--off-white);
    color: var(--warm-black);
    font-weight: bold;
    font-family: 'DM Sans', sans-serif;
    font-size: 1.4rem;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
}

.plan-info-container .plan-card--ca span {
    background-image: url('./assets/icons/orange-right-arrow.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 2.8rem;
    height: 2.8rem;
    /* este atributo es para alinear de forma vertial el texto */
    vertical-align: text-top;
}