/* 
    1.- Posicionamiento
    2.- Box-model
    3.- Tipografía
    4.- Efectos visuales
    5.- Otros
*/
:root {
    /* Colors */
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --black: #282623;
    --grey: #BABABA;
    --off-white: #FAF8F7;
    --just-white: #FFFFFF;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    font-family: 'DM sans', sans-serif;
}

/*     font-family: 'DM Sans', sans-serif;

    font-family: 'Inter', sans-serif; */

header {
    position: relative;
    display: flex;
    flex-direction: column;
    /* gap: 5rem; */
    justify-content: space-around;
    align-items: center;
    width: 100%;
    min-width: 320px;
    height: 33rem;
    text-align: center;
}
header img {
    width: 16rem;
    height: 2.4rem;
    margin-top: 6rem;
    align-self: center;
}

.header--title-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 22rem;
    /* el profe agrego margenes, eso lo cambie por el gap que le di mas arriba al contenedor padre
    margin-top: 40px */
    /* este text-align es algo innecesario porque ya esta en el contenedor padre con text-align */
    text-align: center;
    align-self: center;
}